/* Asterisk wildcard selector to override default styles added by the browser */

/*header*/
header {
  background-color: lightcoral;
}
/*main*/
main {
  background-color: lightblue;
}
/*footer*/
footer {
  background-color: orange;
}
